<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <title>{{ site.title }}</title>
  <meta name="robots" content="noindex,nofollow">
  {% set tailwind %} {% include "css/global.out.css" %} {% endset %}
  <style>
    {{ tailwind | cssmin | safe }}
  </style>


</head>

<body>

  {% include "header.njk" %}

  <main class="max-w-screen-xl mx-auto">
    
    <div class="phone-address flex flex-col sm:flex-row justify-center items-center sm:justify-end gap-x-4 p-4">
      <span class="flex gap-x-2 text-sm sm:text-base sm:pb-0 text-red-500 no-underline	">
        <a id="call-now-link" href="tel:619-312-0941">(619) 312-0941</a>
      </span>
      <span class="flex gap-x-2 text-sm sm:text-base text-gray-800 no-underline	">
        <a href="https://maps.app.goo.gl/qWeb6zw45rcVYyP78">235 Town Center Parkway Santee, CA 92071</a>
      </span>
    </div>

    {{ content | safe }}
    
  </main>

  {% include "footer.njk" %}

</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
  function setupAccordion() {
    const accordion = $('.accordion');
    if (accordion) {
      $('.accordion-panel').slideUp();
      $('.accordion-panel:first').slideDown();
      $('.accordion-title:first').toggleClass('active');
      $('.accordion-panel:first').toggleClass('active');
      $('.accordion-title').on('click', function() {
          $('.accordion-panel').filter($(this).next()).toggleClass('active');
          $(this).toggleClass('active');
          $(this).next().slideToggle();
      });
    }
  }

  setupAccordion();
</script>
</html>