<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <title>{{ title }}</title>
  <meta name="robots" content="noindex,nofollow">
  <!-- capture the CSS content as a Nunjucks variable -->
  {% set css %} {% include "css/global.out.css" %} {% endset %}
  <!-- feed it through our cssmin filter to minify -->
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>

<body>

  {% include "header.njk" %}

  <main>
    <div class="phone-address flex flex-col sm:flex-row justify-center items-center sm:justify-end gap-x-4 p-4">
    <span class="flex gap-x-2 text-sm sm:text-base sm:pb-0 text-red-500 no-underline	">
      <a id="call-now-link" href="tel:619-312-0941">(619) 312-0941</a>
    </span>
    <span class="flex gap-x-2 text-sm sm:text-base text-gray-800 no-underline	">
      <a href="https://maps.app.goo.gl/qWeb6zw45rcVYyP78">235 Town Center Parkway Santee, CA 92071</a>
    </span>
  </div>

    {{ content | safe }}
    
  </main>

  {% include "footer.njk" %}

</body>

</html>