<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if cityService %}
    <meta name="description" content="{{ cityService.description }}">
  {% elseif service %}
    <meta name="description" content="{{ service.description }}">
  {% elseif city %}
    <meta name="description" content="{{ city.description }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}
  
  {% if cityService %}
    <title>{{ cityService.title }}</title>
  {% elseif service %}
    <title>{{ service.title }}</title>
  {% elseif city %}
    <title>{{ city.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  <meta name="robots" content="noindex,nofollow">
  {% set tailwind %} {% include "css/global.out.css" %} {% endset %}
  <style>
    {{ tailwind | cssmin | safe }}
  </style>


</head>

<body>

  {% include "header.njk" %}

  <main class="max-w-screen-xl mx-auto">
    
    <div class="phone-address flex flex-col sm:flex-row justify-center items-center sm:justify-end gap-x-4 p-4">
      <span class="flex gap-x-2 text-sm sm:text-base sm:pb-0 text-red-500 no-underline	">
        <a id="call-now-link" href="tel:619-312-0941">(619) 312-0941</a>
      </span>
      <span class="flex gap-x-2 text-sm sm:text-base text-gray-800 no-underline	">
        <a href="https://maps.app.goo.gl/qWeb6zw45rcVYyP78">235 Town Center Parkway Santee, CA 92071</a>
      </span>
    </div>

    {{ content | safe }}
    
  </main>

  {% include "footer.njk" %}

</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
  let formSuccess = false;
  function setupAccordion() {
    const accordion = $('.accordion');
    if (accordion) {
      $('.accordion-panel').slideUp();
      $('.accordion-panel:first').slideDown();
      $('.accordion-title:first').toggleClass('active');
      $('.accordion-panel:first').toggleClass('active');
      $('.accordion-title').on('click', function() {
          $('.accordion-panel').filter($(this).next()).toggleClass('active');
          $(this).toggleClass('active');
          $(this).next().slideToggle();
      });
    }
  }
  setupAccordion();

  // contact form
  function sendForm(event) {
    const form = $('#contact-form');
    const formAction = document.getElementById('contact-form');
    const formData = form.serializeArray();
    let data = {
      name: formData[0].value,
      email: formData[1].value,
      phone: formData[2].value,
      details: formData[3].value
    };
    let url = formAction.action;
    data = JSON.stringify(data);
    // url = 'http://127.0.0.1:5001/imageonsd-af038/us-central1/addContact';
    fetch(url, {
      method: 'POST',
      body: data,
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
    })
    .then(response => response.json())
    .then(data => {
      formSuccess = true;
      clearForm();
      alert('Thank you for your interest. We will be in touch shortly.');
    })
    .catch(err => console.log('err', err));
  }
  // $('#contact-submit').on('click', sendForm);
  function testForm(event) {
    event.preventDefault();
    if (inputValid('#full-name') && inputValid('#e-mail') && inputValid('#project-details')) {
      console.log('valid');
      sendForm(event);
    } else {
      alert('Please check your form for errors.');
    }
  }

  function clearForm() {
    $('#contact-form').trigger('reset');
  }

  function inputValid(id) {
    const prop = $(id);
    if (prop.length == 0) {
      return false
    }
    return prop[0].validity.valid;
  }

  $('#contact-submit').on('click', testForm);
</script>
</html>