<header class="banner z-10 px-4 bg-black">
  <div class="flex flex-col sm:flex-row justify-between items-center w-full max-w-screen-xl mx-auto">
    
    <a class="brand pt-4 sm:py-4" href="{{ site.url }}">
      <img width="211" height="50" src="https://imageonsd.com/app/uploads/2024/04/imageon-logo-small-1.webp" class="attachment-logo-small size-logo-small" alt="" decoding="async" loading="lazy">
    </a>

    <nav class="nav-primary" aria-label="Main Menu">
        <div class="container">
          <ul id="main-menu" class="nav flex flex-row gap-4">
            {% for service in services %}
              <li class="menu-item text-white"><a href="{{ site.url }}/services/{{ service.name | slugify }}">{{ service.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
    </nav>

  </div>
</header>