<header class="banner sticky top-0 z-10 px-4 bg-gray-950">
  <div class="flex flex-col sm:flex-row justify-between items-center w-full max-w-screen-xl mx-auto">
    
    <a class="brand pt-4 sm:py-4" href="{{ site.url }}">
      <img width="211" height="50" src="/_assets/imageon-logo-small-1.webp" class="attachment-logo-small size-logo-small" alt="" decoding="async" loading="lazy">
    </a>

    <nav class="nav-primary" aria-label="Main Menu">
        <div class="container">
          <ul id="main-menu" class="nav flex flex-row gap-x-1 md:gap-x-2 pt-2">
            {% for service in services %}
              <li class="menu-item justify-center items-center bg-gray-950 h-full p-1 sm:p-3 border-b-2 border-gray-800 hover:border-blue-800 text-gray-200 text-lg hover:text-white transition-all duration-300 whitespace-nowrap">
                <a href="{{ site.url }}/services/{{ service.name | slugify }}/">{{ service.menuName | safe }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </nav>

  </div>
</header>