{% include "splash.njk" %}
{% include "contact-form.njk" %}
{% include "products.njk" %}
{%- if '/' == page.url -%}
  {% include "home-examples.njk" %}
{%- endif -%}
{%- if '/custom-t-shirts/' in page.url -%}
  {% include "tshirt-examples.njk" %}
{%- endif -%}
{%- if '/embroidery/' in page.url -%}
  {% include "embroidery-examples.njk" %}
{%- endif -%}
{% include "faq.njk" %}