<div id="products" class="flex justify-center mt-10 sm:mt-0 sm:mb-12">
  <div class="max-w-screen-xl w-full">
    <div class="flex flex-row justify-center">
      <div class="flex flex-row justify-center px-2 mx-4 py-4 bg-red-500 w-full sm:w-1/2 rounded-xl md:rounded-full shadow-md hover:bg-white transition-colors duration-100 border-4 text-white border-red-500 border-4 hover:text-red-500">
        <a target="_blank" href="https://www.companycasuals.com/imageon/start.jsp"><h3 class="text-3xl text-center font-bold poppins-bold">Click Here to See Our Product Catalog</h3></a>
      </div>
    </div>
  </div>
</div>