---
layout: base.njk
---

<div class="flex flex-row bg-[url('/_assets/custom_t_shirt_bg.webp')] bg-right-bottom bg-no-repeat h-[450px] lg:h-[600px] mb-8" style="background-size: cover;">
  <div class="hidden flex-col justify-center w-1/2 p-4 lg:flex">
    <h1 class="text-5xl font-bold text-red-900 text-center poppins-bold select-none">Custom T-Shirt<br>Services</h1>
  </div>
  <div class="hidden flex-col justify-center w-1/2 p-4 lg:flex"></div>
</div>

<div class="flex flex-col md:flex-row p-4 pt-0">
  <div class="flex flex-col w-full mb-8 lg:w-3/4 md:w-1/2 pr-0 md:pr-4">

    <h1 class="text-3xl font-bold text-red-500 text-center mb-4 sm:text-left lg:hidden">Custom T-Shirt Services</h1>
    <p class="mb-4">Discover the best in custom t-shirt printing at ImageOn, your local t-shirt shop in San Diego. We offer a wide range of printing services to bring your unique designs to life. Whether you're looking for custom t-shirts for a special event, corporate branding, or personal use, our dedicated team ensures high-quality prints and exceptional service every time.</p>

    <h2 class="text-2xl font-bold text-red-500 mb-4 text-center sm:text-left">Product Offerings</h2>
    <p class="mb-4">Explore our extensive range of t-shirt printing services, including:</p>
    <ul class="list-disc list-outside mb-4 pl-4">
      <li><strong>Custom T-Shirts:</strong> Create personalized t-shirts with your unique designs.</li>
      <li><strong>Corporate T-Shirts:</strong> Perfect for team events and corporate branding.</li>
      <li><strong>Event T-Shirts:</strong> Make your event memorable with custom printed t-shirts.</li>
      <li><strong>T-Shirt Fundraising Sites:</strong> Custom t-shirt fundraising site for any cause.</li>
      <li><strong>Whitelabel Business Merchandice Portals:</strong> Custom merchandicing site for your business.</li>
    </ul>

    <p>Looking for a reliable t-shirt shop near you? Visit ImageOn today or contact us to get started on your custom t-shirt project. Our friendly and professional team is here to help you design and print the perfect t-shirts for any occasion. Get a free quote now and see why we're the best in San Diego for custom t-shirts and apparel.</p>

  </div>
  <div>
    {% include "contact-form-skinny.njk" %}
  </div>
</div>

{% include "tshirt-examples.njk" %}

