---
layout: base.njk
---

<div class="flex flex-row bg-[url('/_assets/custom_t_shirt_bg.webp')] bg-right-bottom bg-no-repeat h-[450px] lg:h-[600px] mb-8" style="background-size: cover;">
  <div class="hidden flex-col justify-center w-1/2 p-4 lg:flex">
    <h1 class="text-5xl font-bold text-red-900 text-center poppins-bold">Custom T-Shirt<br>Services</h1>
  </div>
  <div class="hidden flex-col justify-center w-1/2 p-4 lg:flex"></div>
</div>

<div class="flex flex-col md:flex-row p-4 pt-0">
  <div class="flex flex-col w-full mb-8 lg:w-3/4 md:w-1/2 pr-0 md:pr-4">

    <h1 class="text-3xl font-bold text-red-500 text-center mb-4 sm:text-left lg:hidden">Custom T-Shirt Services</h1>
    <p class="mb-4">Discover the best in custom t-shirt printing at ImageOn. Located in San Diego, our t-shirt shops offer a wide variety of options to bring your designs to life. Whether you need custom t-shirts for a special event, business, or personal use, our team is dedicated to providing high-quality prints and exceptional service.</p>

    <h2 class="text-2xl font-bold text-red-500 mb-4 text-center sm:text-left">Product Offerings</h2>
    <p class="mb-4">Explore our extensive range of t-shirt printing services, including:</p>
    <ul class="list-disc list-outside mb-4 pl-4">
      <li><strong>Custom T-Shirts:</strong> Create personalized t-shirts with your unique designs.</li>
      <li><strong>Corporate T-Shirts:</strong> Perfect for team events and corporate branding.</li>
      <li><strong>Event T-Shirts:</strong> Make your event memorable with custom printed t-shirts.</li>
    </ul>

    <p>Want to create your own custom t-shirts? Visit ImageOn today or contact us to get started. Our friendly team is here to help you design and print the perfect t-shirts for any occasion. Get a free quote now!</p>

  </div>
  <div>
    {% include "contact-form-skinny.njk" %}
  </div>
</div>

{% include "tshirt-examples.njk" %}