---
pagination:
  data: cityServices
  size: 1
  alias: cityService
permalink: "services/{{cityService.name | slugify }}/{{cityService.city | slugify }}/"
layout: base.njk
---

{% include "layout-splash.njk" %}