<article class="max-w-3xl mx-auto px-4 py-8 text-center mb-8 mt-16 bg-zinc-100">
  <h1 class="text-4xl font-bold text-red-500 mb-6">ImageOn provides Rush T-shirt Printing Services in El Cajon</h1>
  <p>Choose ImageOn for all your custom apparel needs in El Cajon. We're not just a t-shirt print shop near you; we're your partners in creating high-quality, customized apparel that makes a lasting impression.</p>
</article>