<article class="max-w-3xl mx-auto px-4 py-8 text-center mb-8 mt-16 bg-zinc-100">
  <h1 class="text-4xl font-bold text-red-500 mb-6">ImageOn Serves as the Nearest T-shirt Shop in Santee</h1>
  <p>Our t-shirt print center is strategically located to serve as your nearest t-shirt shop, ensuring convenience without compromising on quality. Whether you need company shirt printing or uniform printing, our state-of-the-art facility is equipped to handle all your custom apparel printing needs.</p>
</article>