---
layout: base.njk
---

<div class="flex flex-row bg-[url('/_assets/custom_embroidery_bg.webp')] bg-right-bottom bg-no-repeat h-[450px] lg:h-[600px] mb-8" style="background-size: cover;">
  <div class="hidden flex-col justify-center w-1/2 p-4 lg:flex">
    <h1 class="text-5xl font-bold text-red-900 text-center poppins-bold select-none">Custom Embroidery<br>Services</h1>
  </div>
  <div class="hidden flex-col justify-center w-1/2 p-4 lg:flex"></div>
</div>

<div class="flex flex-col md:flex-row p-4 pt-0">
  <div class="flex flex-col w-full mb-8 lg:w-3/4 md:w-1/2 pr-0 md:pr-4">

    <h1 class="text-3xl font-bold text-red-500 text-center mb-4 sm:text-left lg:hidden">Custom Embroidery Services</h1>
    <p class="mb-4">Welcome to ImageOn Embroidery Services, your go-to destination for high-quality, custom embroidery in San Diego. Whether you need personalized uniforms, custom gifts, or professional apparel, our state-of-the-art embroidery services are designed to meet all your needs. We specialize in bringing your designs to life with precision and quality, ensuring every stitch is perfect and every project exceeds your expectations.</p>

    <h2 class="text-2xl font-bold text-red-500 mb-4 text-center sm:text-left">Product Offerings</h2>
    <p class="mb-4">At ImageOn, we offer a comprehensive range of embroidery services, including:</p>
    <ul class="list-disc list-outside mb-4 pl-4">
      <li><strong>Custom Embroidery:</strong> Personalize t-shirts, hats, jackets, and more with your unique designs.</li>
      <li><strong>Uniform Embroidery:</strong> Add your company logo to uniforms for a professional and cohesive look.</li>
      <li><strong>Gift Embroidery:</strong> Create memorable, personalized gifts for any occasion.</li>
      <li><strong>Promotional Items:</strong> Enhance your brand with embroidered promotional products that leave a lasting impression.</li>
      <li><strong>Whitelabel Business Merchandice Portals:</strong> Custom merchandicing site for your business.</li>
    </ul>

    <div class="border-l-4 border-red-500 pl-8 mb-8">
      <h4 class="text-xl font-bold text-red-500 mb-4 text-center sm:text-left">What to Expect</h4>

      <p class="italic mb-4 text-zinc-600">"ImageOn transformed our company's uniforms with their top-notch embroidery services. Highly recommend!" - <strong>Jane&nbsp;D.</strong></p>

      <p class="italic text-zinc-600">"The custom embroidered gifts from ImageOn were a hit at our event. Excellent quality and service!" - <strong>Mike&nbsp;S.</strong></p>
    </div>

    <p>Ready to elevate your apparel with custom embroidery? Contact ImageOn today to discuss your project and get a free quote. Our team is here to help you every step of the way.</p>

  </div>
  <div>
    {% include "contact-form-skinny.njk" %}
  </div>
</div>

{% include "embroidery-examples.njk" %}

